@page
@model AboutModel
@{
    ViewData["Title"] = "Autor";
}

@*<br/><br />
<center>
    <img src="~/images/book-svg-mac-1-transparent.png" />
    <h2><b>Autor:</b></h2>
    <h2>Kamil Kołodziejski</h2>*@

    <div class="" id="box-search" style="margin-top: 50px; ">
        <div class="thumbnail text-center" style="position: relative; border: none">
            <img src="~/images/book-svg-mac-1-transparent.png" alt="" class="img-responsive">
            <div class="caption" style="position: absolute; top: 20%; left: 0; width: 100%">
                <p style="color: ghostwhite; font-size:34px; opacity: 0.9; ">Autor:<br/>Kamil Kołodziejski</p>
            </div>
        </div>
    </div>
