@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<br/><br/>

    <div class="center-block text-center">
        <img src="~/images/error.png" />

        <hr />
        <h1 class="text-danger "><i><b>@Model.HttpContext.Items["ExceptionMsg"]</b></i></h1>

        <p>
            <h3 class="text-danger alert-warning">@Model.HttpContext.Items["ExceptionType"] </h3>
            <h4></h4>
        </p>
    </div>