@page
@model HomeModel
@{
    ViewData["Title"] = "Strona Główna";
}
<h2>@ViewData["Title"]</h2>
<br/>
<br />
<p><center><h1>Employee Manager</h1></center></p>
<p><center><img src="~/images/employee-management.png" alt="Employee Management" /></center></p>

